# Entorno virtual
venv/
.env

# Archivos de configuración del entorno
*.env
*.env.*

# Archivos de Python
__pycache__/
*.py[cod]
*.pyo

# Archivos de base de datos
# *.sqlite3 -> esto hay que quitarlo en producción

# Archivos de logs
*.log
logs/

# Archivos de configuración del editor
.vscode/
.idea/

# Configuración de Codespaces
.devcontainer/

# Archivos de sistema
.DS_Store
Thumbs.db

# Archivos de compilación
*.egg-info/
build/
dist/

# Archivos de coverage y pruebas
htmlcov/
.coverage
coverage.xml
.pytest_cache/







